<!-- Footer -->
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://www.flynote.in"> Flynote.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->