
<!--Carousel Wrapper-->
<mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'slide'" >
    
    <div *ngIf="carousel !== undefined">
        <mdb-carousel-item *ngFor="let carousel of carousel.carousel">
            <div class="view">
                <img class="d-block w-100" src="../assets/images/{{carousel.cityimage}}" alt="First slide">
                <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
            </div>
            <div class="carousel-caption">
                <h3>{{carousel.cityname}}</h3>
                <span>{{carousel.citydescritpion}}</span>
            </div>
        </mdb-carousel-item>
    </div>

</mdb-carousel>
<!--/.Carousel Wrapper-->
