<!-- <header> -->

<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top blue ie-nav" [containerInside]="false">
        <mdb-navbar-brand class="nav-brand">
            <a class="logo navbar-brand" href="#"><strong>Flynote</strong></a>
        </mdb-navbar-brand>
        <links class="nav-links">
            <div class="d-flex justify-content-end w-100">
            <ul class="navbar-nav ">

                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link">Destination</a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" >About</a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link">Login</a>
                </li>
            
            </ul>
            </div>
        </links>
    </mdb-navbar>
    <div class="w-100" style="margin-top: 56px">
                        
            <app-carousel></app-carousel>

    </div> 
    
           
                
                    
                
            
      
    

