<!-- Section: Contact v.1 -->
<section class="my-5">

    <!-- Section heading -->

    <!-- Grid row -->
    <div class="row">
        <div class="col-12 col-md-7">
              


          <!--/.Card-->
  
            <h2 class="h1-responsive font-weight-bold text-center my-5"><span class="hey-3">Plan here with us </span> </h2> 
            <hr class="hrline">
            <!-- Section description -->
            <p class="text-center w-responsive mx-auto pb-5 ">Our travel guides give honest, impartial advice to help you plan     your next holiday. They include tips on what we rate and what we don’t, the best time to go and how to be a more    responsible traveller.
                Whether you're planning an overseas vacation or a weekend road-trip, the best travel site will help you find the right flights, rentals, and hotels at reasonable rates. To find the best, we looked for websites which could search for a variety of bookings, and tracked prices and user experiences to find which sites delivered the best services at the best prices.
            </p>
             
            <p class= "text-center w-responsive mx-auto pb-5">
              <span class="hey">
                <i> "The real voyage of discovery consists not in seeking 
                new landscapes,
                but in having new eyes." </i> 
                </span>
                <strong>- Marcel Proust</strong>
              </p>
           
            
          
           
      
          </div>
  
      <!-- Grid column -->
      <div class="col-12 col-md-5 mb-4 pr-0 pr-md-2">
        <div class="pr-0 pr-md-4">
            <div class="card w-100 pr-4 pr-md-0">
                <div class="card-body d-flex flex-column justify-content-center pr-4">
                  <!-- Header -->
                  <div class="form-header blue lighten-3" style="border-radius: 5px; margin-bottom: 20px">
                    <h3 class="mt-2"><i class="fa fa-envelope"></i> Contact us</h3>
                  </div>
                  <!-- Body -->
                  <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                    <div class="form-group">
                      <label for="phone" minlength="10">Phone Number</label>
                      <input type="text" class="form-control" [(ngModel)]="model.phone" #phone="ngModel" [ngClass]="{'is-invalid':f.submitted && phone.invalid}" name="phone" required />
                      <div class="invalid-feedback">
                        <div>First Name is required</div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input type="text" class="form-control" [(ngModel)]="model.email" #email="ngModel" [ngClass]="{'is-invalid':f.submitted && email.invalid}" name="email" required email />
                      <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                        <div *ngIf="email.errors.required">Email Name is required</div>
                        <div *ngIf="email.errors.email">Email must be a valid email Address</div>
                      </div>
                    </div>
                    <div class="form-group">
                        <label for="avatar">Destination</label>
                      <textarea type="text" class="form-control" [(ngModel)]="model.avatar" #avatar="ngModel" name="avatar" rows="3"></textarea>
                    </div>
                    <div class="form-group d-flex justify-content-center w-100">
                      <button class="btn btn-primary">Register</button>
                    </div>
                  </form>
          
                </div>
              </div>
        </div>
        <!-- Form with header -->
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
  </section>
  <!-- Section: Contact v.1 -->