.shadow-textarea textarea.form-control::placeholder {
    font-weight: 300;
}
.shadow-textarea textarea.form-control {
    padding-left: 0.8rem;
}
.form-header{
    padding: 10px 0px 5px 10px;
    text-align: center;
}
.card{
    margin-right:100px;

}
.mt-2{
    color: rgb(25, 42, 99);
}
.hrline{
     
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    
}

.hey{
    
    color: #45526e;
}
.hey-3{
    color:#1c2a48;
}